@if (!dockDisabled) {
  <div class="w-full h-12 bg-red-700 fixed bottom-0 z-50 shadow-md">
    <div class="overflow-x-auto flex items-center justify-between h-full px-3">
      @for (item of DockElements; track item.route) {
        <a
          class="flex flex-col items-center gap-1 px-5 py-2 rounded-md transition-colors"
          [class.text-amber-200]="item.marked"
          [class.text-amber-50]="!item.marked"
          (click)="onDockElementClick(item)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 shrink-0"
            [class.text-amber-200]="item.marked"
            [class.text-amber-50]="!item.marked"
          >
            <path stroke-linecap="round" stroke-linejoin="round" [attr.d]="item.icon" />
          </svg>
          <span class="text-sm" [class.text-amber-200]="item.marked">{{ item.name }}</span>
        </a>
      }
    </div>
  </div>
}
