<app-template-page title="History" [NavbarDisabled]="false" [DockDisabled]="false">
  <div class="flex flex-col gap-2 items-center w-full overflow-y-auto max-h-[50dvh] p-5">
    <div class="relative w-[75dvw] mb-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5 text-gray-500 absolute left-3 top-1/2 -translate-y-1/2 pointer-events-none"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m21 21-4.35-4.35m1.85-5.4a7.25 7.25 0 1 1-14.5 0 7.25 7.25 0 0 1 14.5 0Z"
        />
      </svg>

      <input
        type="text"
        placeholder="Search..."
        class="w-full text-black pl-10 pr-2 py-2 border-2 border-black rounded-lg"
        (input)="inputSearchValue($any($event.target).value)"
      />
    </div>
    @if (HistoryEntry().length > 0) {
      <div class="grid grid-cols-2 grid-rows-2 mb-2 gap-2">
        @for (entry of HistoryEntry(); track entry.id) {
          <div
            (click)="selectModal(entry.id)"
            class="items-center rounded-2xl border-1 bg-red-50/70 border-red-400 shadow-xl active:scale-95 transition cursor-pointer border-1 border-red-400 p-2"
          >
            <p class="text-black text-center">{{ entry.name }}</p>
            <p class="text-black text-xs text-center">{{ entry.date }}</p>
          </div>
        }
      </div>
    } @else {
      <p class="text-black text-center">No history entries yet</p>
    }
  </div>

  <result-modal
    [toggleModal]="toggleModal()"
    (toggleModalChange)="toggleModal.set($event)"
    [entry]="selectedEntry() as entry"
  ></result-modal>

  <app-modal [toggleModal]="toggleModal()" (toggleModalChange)="toggleModal.set($event)">
    <div class="flex flex-col gap-1">
      @if (selectedEntry(); as entry) {
        <p class="text-black text-center text-lg font-bold">History details</p>
        <p class="text-black text-sm flex items-center gap-2">
          <img src="/bottle-icon.svg" alt="name" class="inline w-4 h-4" />
          <span>Name: {{ entry.name }}</span>
        </p>

        <p class="text-black text-sm flex items-center gap-2">
          <img src="/origin-icon.svg" alt="origin" class="inline w-4 h-4" />
          <span>Origin: {{ entry.origin }}</span>
        </p>
        <p class="text-black text-sm flex items-center gap-2">
          <img src="/alternative-icon.svg" alt="alternative" class="inline w-4 h-4" />
          <span>Alternative: {{ entry.alternative }}</span>
        </p>
        <p class="text-black text-sm flex items-center gap-2">
          <img src="/price-icon.svg" alt="price" class="inline w-4 h-4" />
          <span>Price: {{ entry.price }}</span>
        </p>
        <p class="text-black text-sm flex items-center gap-2">
          <img src="/taste-icon.svg" alt="taste" class="inline w-4 h-4" />
          <span>Taste: {{ entry.taste }}</span>
        </p>
        <p class="text-black text-sm flex items-center gap-2">
          <img src="/grape-icon.svg" alt="raw materials" class="inline w-4 h-4" />
          <span>Raw Materials: {{ entry.rawmaterials }}</span>
        </p>
        <p class="text-black text-sm flex items-center gap-2">
          <img src="/meal-icon.svg" alt="recommendation" class="inline w-4 h-4" />
          <span>Recommendation: {{ entry.recommendation }}</span>
        </p>
        <p class="text-black text-sm flex items-center gap-2">
          <img src="/date-icon.svg" alt="date" class="inline w-4 h-4" />
          <span>Year: {{ entry.year }}</span>
        </p>
        <p class="text-black text-sm flex items-center gap-2">
          <img src="/star-icon.svg" alt="customer review" class="inline w-4 h-4" />
          <span>Customer Review: {{ entry.customerreview }}</span>
        </p>
      } @else {
        <p class="text-black text-center">No history entry selected</p>
      }
    </div>
  </app-modal>
</app-template-page>
