<div [class]="isUserMessage() ? 'flex flex-col items-end' : 'flex flex-col items-start'">
  <div class="relative w-[50dvw]">
    <div class="p-2 w-full max-h-[40dvh] h-auto border-1 border-red-500 rounded-md overflow-y-auto">
      @if (imageUrl()) {
        <img
          [src]="imageUrl()"
          alt="uploaded image"
          class="max-w-10 max-h-10 object-contain rounded-md"
        />
      }
      @if (message()) {
        <p class="text-black text-sm whitespace-pre-wrap break-words">{{ message() }}</p>
      }
    </div>
  </div>
</div>
